@import 'global';
@import 'variables';

.container {
  margin: 8rem auto;
  background-color: $main-grey;
  height: 45rem;
  width: 31.4rem;
  border: 7px outset white;

  .top-section {
    display: flex;
    justify-content: space-between;
    border: 4px inset $white;
    height: 4rem;
    width: 29.8rem;

    .flags {
      font-size: 2.5rem;
      width: 8.4rem;
      background-color: black;
      color: red;
      text-align: center;
      border: 2px inset $white;
    }

    .face {
      height: 3rem;
      background-image: url('../proxy-image-1.png');
      background-position: 0% 0%;
      background-repeat: no-repeat;
      background-size: 5.7rem;     
      background-color: $main-grey;
      // border: 2px solid $white;
      // border-right-color: $border-grey;
      // border-bottom-color: $border-grey;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      width: 3rem;
    }

    .timer {
      text-align: center;
      color: red;
      font-size: 2.5rem;
      width: 9rem;
      background-color: black;
      border: 2px inset $white;
    }
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    height: 39.6rem;
    width: 30.6rem;
 
    div {
      border: 2px solid $white;
      border-right-color: $border-grey;
      border-bottom-color: $border-grey;
      height: 3rem;
      width: 3rem;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .checked {
      border: 0.5px dashed $border-grey;
      &.red {
        background-color: red;
      }
    }

    .one {
      color: blue;
    }

    .two {
      color: green;
    }

    .three {
      color: red;
    }

    .four {
      color: navy;
    }

    .five {
      color: maroon;
    }
  }
}
